!!! 5
html(lang="en")
  head
    title= title
    //link(href="/public/css/reset.css", media="screen", rel="stylesheet", type="text/css")
    link(href="/public/css/style.css", media="screen", rel="stylesheet", type="text/css")
    script(src="jquery.js", type="application/javascript")
  body
    header#site-header
      nav#site-navigation!= partial("partials/navigation")
    section#page-content
      h1#page-title #{title}
      != body
    footer#page-footer

