!!! 5
html(lang="en")
  head
    title= title
    link(href="/static/css/style.css", media="screen", rel="stylesheet", type="text/css")
    script(src="/static/js/jquery.min.js", type="application/javascript")
  body
    ul(id="menu")
      li
        a(href="/vote/list") list
      li
        a(href="/vote/admin") admin
    div!= body
