.bars
  list-style: none

  .row
    width: 90%
    position: relative
    padding: 3px

  .title
    position: absolute
    left: 10px

  .title, .percent
    margin-top: 6px
    padding: 1px 6px
    border-radius: 3px

  .percent
    position: absolute
    right: 10px
    color: black

  .bar
    height: 20px
    padding: 6px 0
    background-color: rgb(10, 200, 10)
    border-radius: 4px
    width: 60%
