extends layout_votejs

append head
  if debug
    meta(name="votejs_debug", content="true")
  if userId
    meta(name="userId", content=userId)
  if pollId
    meta(name="pollId", content=pollId)

append js_custom
  script(type="text/javascript", src="/socket.io/socket.io.js")
  != index_assets.js('/enigma-lite')
  != index_assets.js('/graph')
  != index_assets.js('/app')

append css_custom
  != index_assets.css('/graph')

block header
block footer

block page
  .navbar.navbar-inverse
    .navbar-inner
      .brand Vote
      .pull-right
        .btn-group
          button.public-list-btn.btn.btn-primary
            i.icon-bar-chart 
            | Polls
          button.new-poll-btn.btn.btn-inverse
            i.icon-plus 
            | New
          button.private-btn.btn.btn-inverse
            i.icon-key 
            | Private
          button.account-btn.btn.btn-inverse
            i.icon-user 
            | Account

  div#home.appPage.hide
    h1 VoteJS

  div#account.hide.appPage
    h1 Account
    div#user-id-form
      input.input(type="text", placeholder="Secret")
      button.btn.submit login

  div#private.hide.appPage
    h1 Private

  div#new-poll.hide.appPage
    h1 Add new poll
    div.new-poll-form
      input.poll-question.input(type="text", placeholder="The question")
      textarea.poll-answers

  div#public-list.hide.appPage(data-switched-action="voteJs.refreshPublicList()")
    h1 Public polls
    table.public-polls-list.table.table-striped
      thead
        tr
          th Name
          th Actions
      tbody

  div#poll-view.hide.appPage(data-switched-action="voteJs.displayPoll()")
    h1 One poll
    div.answers.btn-group
    div.stats
